@use "../../../sass/abstracts/mixins";
@use "../../../sass/abstracts/variables";

.paragraph {
 font-size: 1.5rem;
 line-height: 1.5;
 margin-bottom: 1.5rem;
 margin-top: 0;
 text-align: left;
 font-family: variables.$font_secondary;
 &.intro {
  font-size: 2rem;
  //font-family: Georgia;
 }
 &.caption {
  font-size: 0.9rem;
  font-style: italic;
  padding: 0.5rem 1.5rem;
 }
}
