@use "../../../sass/abstracts/mixins";
@use "../../../sass/abstracts/variables";

.btn {
 display: inline-block;
 &__ui {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  border: 1px solid #000;
  border-radius: 0.25rem;
  background-color: #fff;
  color: #000;
  text-align: center;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  &:hover {
   background-color: #000;
   color: #fff;
  }
  &__menu {
   display: inline-block;
   @include mixins.breakpoint(md) {
    display: none;
   }
  }
  &__close {
   position: absolute;
   top: 1rem;
   right: 1rem;
  }
 }
}
